<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginReg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E15D9EA81DAE7F7000DA8615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15D9EBC1DAE7F7100DA8615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15D9EC71DAE7F7100DA8615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
